{% extends 'base.html.twig' %}
{% block body %}
  {% if words is not null %}
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h1>{{ dashboard_page.title }}</h1>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center display-box word-day-box">
        <h1>Mots du jour</h1>
        <h4 class="font-italic">{{ "now"|date("d-m-Y") }}</h4>
        {% for word in words %}
          {{ word.frenchTranslate }} : {{ word.japanTranslate }}<br>
        {% endfor %}
      </div>
      <div class="col-md-3"></div>
    </div>
  {% else %}
    Aucun mots aujourd'hui
  {% endif %}
  {% include 'holiday/holiday-widget.html.twig' %}
  {% include 'weather/weather-widget.html.twig' %}
{% endblock %}