{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2 text-center">
      <label for="hiragana-play">Exercice sur les hiraganas</label>
      <a href="{{ path('hiragana-game') }}">
        <input id="hiragana-play" class="btn btn-danger" type="button" value="Game">
      </a>
    </div>
    <div class="col-md-5"></div>
  </div>
{% endblock %}