<div class="row">
  <div class="col-md-1">
    <a class="btn btn-danger mt-2 ml-2" href="{{ path('home') }}">← Home</a>
  </div>
  <div class="col-md-5"></div>
  <div class="col-md-5"></div>
  <div class="col-md-1">
    <a class="" href="{{ path('hiragana-board') }}">
      <input class="btn btn-danger mt-2 " type="button" value="Affichage hiragana">
    </a>
  </div>
</div>