{% set holiday = today_holiday() %}

{% if holiday is not empty %}
  <div id="bloc-holiday" class="display-box">
    <h3>Aujourd'hui</h3>
    {{ holiday[0].japanTranslate }} - {{ holiday[0].englishTranslate }}
  </div>
{% endif %}
